<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link type="text/css" rel="stylesheet" href="static/stylesheets/bootstrap.min.css">
    <script src="static/javascripts/jquery.min.js"></script>
    <script src="static/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form>
        <div class="form-group">
            <label>公鑰</label>
            <input type="text" class="form-control" name="publicKey" id="publicKeyA" value="{{publicKeyA}}">
        </div>
        <div class="form-group">
            <label>私鑰</label>
            <input type="text" class="form-control" name="privateKey" id="privateKeyA" value="{{privateKeyA}}">
        </div>
        <div class="form-group">
            <label>加密內容</label>
            <textarea id="pure"></textarea>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label>公鑰</label>
            <input type="text" class="form-control" name="publicKey" id="publicKeyB" value="{{publicKeyB}}">
        </div>
        <div class="form-group">
            <label>私鑰</label>
            <input type="text" class="form-control" name="privateKey" id="privateKeyB" value="{{privateKeyB}}">
        </div>
        <div class="form-group">
            <label>密文</label>
            <textarea id="content"></textarea>
        </div>
        <div class="form-group">
            <label>簽章</label>
            <textarea id="rsaSignture"></textarea>
        </div>
        <div class="form-group">
            <label>AES</label>
            <textarea id="rsaStringForaes"></textarea>
        </div>
        <div class="form-group">
            <label>解密內容</label>
            <textarea id="descript"></textarea>
        </div>
    </form>
    <button id="asd">加密</button>
</div>
<script>

$("#asd").on('click',function(){

        newObj ={
            'publicKeyB':$("#publicKeyB").val(),
            'privateKeyA':$("#privateKeyA").val(),
            'pure':$("#pure").val()
        }
        $.ajax({
            url: '/process',
            type: 'POST',
            dataType: 'json',
            data:JSON.stringify(newObj),
            contentType: 'application/json',
            success:function(data){
            debugger;
                $('#content').text(data.content)
                $('#rsaSignture').text(data.rsaSignture)
                $('#rsaStringForaes').text(data.rsaStringForaes)

            },
            error:function(){}
        })
    })




</script>
</body>
</html>

